.App {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  grid-template-areas:
    'header'
    'fretboard'
    'content'
  ;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.App-header {
  display: grid;
  grid-area: header;
  grid-template: auto / auto 1fr auto;
  background: #F0F0F0;
  grid-column-gap: 16px;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid #DDD;
}

.App-title {
  grid-area: 1 / 1;
  font-size: inherit;
  align-self: center;
}

.App-nav {
  grid-area: 1 / 2;
  display: flex;
}

.App-mode {
  grid-area: 1 / 1 / 1 / 2;
}

.Explorer, .Quiz {
  grid-area: content;
  min-height: 0;
}

.App-nav a {
  padding: 12px;
  text-align: center;
  border-left: 1px solid #CCC;
  width: 100px;

  &:last-child {
    border-right: 1px solid #CCC;
  }

  &.active {
    background-color: #F8f8f8;
  }
}

.App-nav a.active {
  font-weight: bold;
}
