.Explorer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-template-rows: auto 1fr;
  grid-gap: 12px;
  margin: 0 12px 12px 12px;
}

.Explorer-label {
  grid-row: 1;
  font-size: small;
  font-weight: bold;
}

.Explorer-list {
  grid-row: 2;
}

.Explorer-root {
  grid-area: 1;
}

.Explorer-chord-type {
  grid-column: 2;
}

.Explorer-bass-note {
  grid-column: 3;
}

.Explorer-voicings {
  grid-column: 4;
}

.Explorer-voicings-nav {
  grid-area: 2 / 5;
  display: flex;
  flex-direction: column;

  > button {
    flex: 1;
  }
}