.Fretboard {
  grid-area: fretboard;
  display: grid;
  min-height: 200px;
}

.Fretboard-fingerboard {
  background: linear-gradient(to bottom, #493b19 0%,#331d0c 100%);
}

.Fretboard-head {
  background-color: #222;
  border-right: 4px solid #DDD;  
}