.Note {
   z-index: 20;
  display: block;
  align-self: center;
  justify-self: center;
  border-radius: 8px;
  height: 30px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.Note sub {
  font-size: x-small;
}

.Note-quiz {
  background-color: #00fdff;
  z-index: 30;
}

.Note-indicator {
  background-color: #FFF;
}
